@{
    ViewData["Title"] = "Home Page";
}


<h1> Hello Everyone, Welcome to Anyone for Tennis. </h1>
<h2> A Platfrom to connect Members with Coaches and Coaches with Members.</h2>


<br />
<br />
<br />
<br />
<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Member"))
    {
        <h3> if you just registered and are not a member yet,refresh the page otherwise ignore this text</h3>
    }
}

